DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=123456a@
DB_LOGIN_DB=rasa
LOCAL_MODE=false
RASA_X_HOST=http://rasa-x:5002
RASA_X_TOKEN=djJcK6RpHpC/0A+fhw==
JWT_SECRET=0YpHRTZp7ar1Q9ug==
RASA_USER_APP=http://app:5055
RASA_WORKER_HOST=http://rasa-worker:5005
RASA_TOKEN=i5gBsWSVdUSyrl07Q==
RASA_WORKER_TOKEN=i5gBKTVodUSyrl07Q==
SELF_PORT=5002
DB_DATABASE=rasa
RASA_MODEL_DIR=/app/models
PASSWORD_SALT=kg22w26avJOR8bLA==
RASA_X_USER_ANALYTICS=0
SANIC_RESPONSE_TIMEOUT=3600
DEBUG_MODE=true